.m-0 {
	margin: 0 !important;
}


body {
	font-family: arial;
	font-size: 15px;
	line-height: 1.6em;
	margin: 0;
}

header {
	border-bottom: 3px #f4f4f4 solid;
	background: gainsboro;
	text-align: left;
}

footer {
	border-top: 3px #f4f4f4 solid;
	text-align: center;
	padding-top: 5px;
}

.page-container {
	display: flex;
}

.sidebar {
	width: 400px;
	background-color: rgb(66, 89, 239);
	position: relative;
	box-shadow: 10px -1px 1px -2px rgb(3, 9, 34);
	align-items: center;
    display: flex;
    flex-direction: column;
	padding: 5px;
	height: 100vh;
}

.sidebar_mainpage {
	width: 400px;
	background-color: rgba(15, 56, 203, 0.9);
	position: relative;
	box-shadow: 10px -1px 5px -2px rgb(3, 9, 34);
	align-items: center;
    display: flex;
    flex-direction: column;
	padding: 5px;
}

.sidebar-button {
	background-color: #ffffff;
	color: rgba(15, 56, 203, 0.9);
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 30px;
	display: flex;
	font-size: 20px;
	justify-content: flex-start;
	box-shadow: 0px 0px 20px 5px black;
	align-items: center;
}

.sidebar-button i {
	margin-right: 10px;
}

.sidebar-button:hover {
	background-color: rgb(32, 34, 25);
	color: white;
}

.title {
	font-weight: bold;
	color: white;
	font-size: 20px;
	margin-bottom: 100px;
}

.main-content {
	width: 100%;
	margin: 0;
	height: 100vh;
	background-color: whitesmoke;
	overflow-y: auto;
}

.navbar {
	width: 100%;
	margin: 0;
	height: 120px;
	background-color: rgb(66, 89, 239);
	color: white;
	box-shadow: 0px 8px 5px 0px rgb(3, 9, 34);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

main {
	padding-bottom: 20px;
}


label {
	display: inline-block;
	width: 100%;
	color: #097a0d;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}

 .text {
	width: 700px;
	padding: 4px;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 18px;
	background-color: white;
	font-weight: bold;
} 
 .input_password {
	width: 700px;
	padding: 4px;
	border-radius: 5px;
	margin-top: 5px;
	font-size: 18px;
	background-color: white;
	font-weight: bold;
} 

input[type="number"] {
	width: 50px;
	padding: 4px;
	border-radius: 5px;
	font-weight: bold;
}

.select {
	padding: 10px 10px;
	font-size: 15px;
	border-radius: 10px;
	border-color: #4CAF50;
	border-width: 1px;
	margin-bottom: 10px;
}

.button_quiz {
	width: 150px;
	border-radius: 5px;
	background-color: #666;
	border: none;
	color: white;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	width: auto;
	margin: 10px auto;
	/*centrare buton*/

}
.input_adaugaJob::placeholder { 
	color: white;
	opacity: 1; 
  }

.menu {
	width: 1000px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	
}

.container {
	width: 60%;
	margin: 10 auto;
	overflow: auto;
	padding: 5px;
}

li {
	list-style: none;
}

.current {
	padding: 10px;
	background: #f4f4f4;
	border: #000 dotted 1px;
	margin: 20px 0 10px 0;
}

.raspuns_style {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.span_intrebare {
	color: red;
}

.span_generare {
	color: red;
}

.intrebari {
	display: flex;
	flex-direction: column;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]+label:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	padding: 6px;
	margin-right: 3px;
	background-clip: content-box;
	border: 2px solid rgb(6, 6, 6);
	background-color: #e7e6e7;
	border-radius: 50%;
	margin-left: 10px;
}

input[type="radio"]:checked+label:before {
	background-color: #0811c3;
}

label {
	display: flex;
	align-items: center;
	width: auto;
}

p {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

a {
	color: #000;
	text-decoration: none;
}

a.start {
	display: inline-block;
	color: #666;
	border: 1px dotted #000;
	padding: 6px 13px;
}

hr {
	width: 1000px;
	box-shadow: 0px 0px 15px 6px #0b4eba;
	margin-top: 25px;
	margin-bottom: 15px ;
}

div.under {
	margin-top: 20px;
	clear: both;
}

div.selectAdd {
	margin-top: 20px;
	display: inline-block;
}

.sidebar-buttons {
	padding: 50px 5px 0 5px;
	display: flex;
	width: 300px;
	justify-content: left;
	flex-direction: column;
}

div.logo-firm::before {
	content: url('images/FavIcon.png');
}
div.logo-firmUser::before {
	content: url('images/user_logo.png');
}

.logout-button {
	background-color: #ffffff;
	color: rgba(15, 56, 203, 0.9);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	font-size: 20px;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0px 0px 20px 5px black;
	margin-right: 20px;
	height: 50px;
	padding: 10px;
}

.logout-button:hover {
	background-color: rgb(32, 34, 25);
}

.navbar-text1 {
	font-size: 30px;
	font-style: italic;
}

.navbar-text2 {
	font-size: 25px;
}

.registration_background {
	display: flex;
	align-items: center;
	background: rgb(25,49,224);
	background: linear-gradient(30deg, rgba(25,49,224,1) 45%, rgba(45,172,253,1) 55%);
	height: 100vh;
	flex-direction: column;
	overflow-y: auto;
}
.registration_div{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	border: 3px solid whitesmoke;
	width: 500px;
	border-radius: 10px;
	flex-direction: column;	
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	background-color: white;
	margin-top: 20px;
	margin-bottom: 50px;
}
.registration_form{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input_registration{
	width: 400px; 
	padding: 5px;
	border-radius: 5px;
	margin: 15px;
	font-size: 18px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.664);
	font-weight: bold;
	
}
.input_registration:focus {
	border:1px solid rgb(21, 25, 25);
    box-shadow: 0 0 10px #719ECE;
  }

  .registration-text1 {
	color: #000;
	font-size: 25px;
	font-style: bold;
}
.registration_button{
	background-color: rgba(15, 56, 203, 0.9);
	padding: 5px;
	width: 180px;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	align-items: center;
	display: flex;
	justify-content: center;
}
.registration_button:hover{
	background-color: rgb(32, 34, 25);
}
.registration_CV:hover{
	background-color: rgb(32, 34, 25);
}
textarea {
	padding: 5px;
	border-radius: 5px;
	background-color: #0554a4;
	resize: none;
	font-size: 18px;
	color: white;
	box-sizing: border-box;
	border: 2px solid #ccc;
	height: auto;
}

.input_numeAdaugaJob{
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
	background-color: #dae8f5;
	color: black;
	font-weight: bold;
	margin-top: 5px;
}
.input_AdaugaJob{
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
	background-color: #dae8f5;
	color: black;
}
.label_adaugaJob{
	display: inline-block;
	width: 100%;
	color: black;
	font-size: 20px;
	margin-top: 10px;
	font-weight: bold;
}

.textarea_adaugaJob {
	margin-top: 5px;
	border-radius: 5px;
	background-color: #dae8f5;
	resize: none;
	font-size: 18px;
	color: black;
	box-sizing: border-box;
	border: 2px solid #ccc;
	height: auto;
}
.textarea_adaugaJob::placeholder{
	color: rgb(69, 67, 67);
	opacity: 1;
}
.input_adaugaJob::placeholder{
	color: rgb(69, 67, 67);
	opacity: 1;
}

.input_registration::placeholder { 
	color: rgb(69, 67, 67);
	opacity: 1; 
  }

  .select_adaugaJob {
	padding: 10px 10px;
	font-size: 15px;
	border-radius: 10px;
	border-color: black;
	border-width: 1px;
	margin-bottom: 15px;
	width: 200px;
}

.p_adaugaJob{
	display: inline-block;
	width: 100%;
	color: black;
	font-size: 30px;
	margin-top: 20px;
	font-weight: bold;
}

.button_adaugaJob{
	background-color: rgb(68, 68, 219);
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	font-size: 20px;
	justify-content: flex-start;
	align-items: center;
}

.button_adaugaJob:hover {
	background-color: rgb(32, 34, 25);
}

.input_intrebareTest{
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
	background-color: #bfddfa;
	color: black;
	width: 700px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.label_raspunsTest{
	display: flex;
	align-items: center;
	width: auto;
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.table_div{
	border: 3px solid whitesmoke;
	width: 1600px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin: 50px;
}
.table_divAdminModifier{
	border: 3px solid whitesmoke;
	width: 1400px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin: 50px;
}

.table_divUpdateApplications{
	border: 3px solid whitesmoke;
	width: 1600px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin-top: 50px;
}
.tr_div{
	height: 30px;
}
.container_table{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
}
.td_div{
	display: flex;
	justify-content: center;
	padding: 3px;
}

.button_table{
	margin: 5px;
	padding: 5px;
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	border: 2px solid rgb(11, 41, 188);
	border-radius: 5px;
}
.select_tableUpdateApplications{
		padding: 3px;
		font-size: 15px;
		border-radius: 5px;
		border-color: rgb(11, 41, 188);
		border-width: 1px;
}
.a_tableUpdateApplications{
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	border: 2px solid rgb(4, 33, 179);
	border-radius: 5px;
}

.input_mail{
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
	background-color: #dae8f5;
	color: black;
	font-weight: bold;
	margin-top: 5px;
	width: 350px;
}
.div_mail{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.updateJob_div{
	border: 3px solid whitesmoke;
	width: 1600px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin: 50px;
	display: flex;
	align-items: center;
}
.div_princUpdate{
	display: flex;
	align-items: center;
}
.div_secUpdate{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px;
}

.div_shadow{
	box-shadow: 20px 0px 15px -9px rgba(15, 56, 203, 0.9);
}
.button_updateJob{
	background-color: rgb(68, 68, 219);
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	font-size: 20px;
	width: 300px;
	justify-content: center;
	align-items: center;
}
.button_updateJob:hover {
	background-color: rgb(32, 34, 25);
}

.button_backMail{
	background-color: rgb(68, 68, 219);
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	font-size: 20px;
	width: 150px;
	justify-content: center;
	align-items: center;
}
.mainpage_div{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
	height: 100vh;
	background-image: url('images/background_mainpage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	align-items: flex-start;
}
.main-contentProfile {
	width: 100%;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	overflow-y: auto;
	align-items: flex-start;
	padding-left: 100px;
}
.profile_div{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;	
	border: 3px solid whitesmoke;
	width: 400px;
	padding-left: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 4px #0f15d2;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 50px;
}

.p_profile{
	display: inline-block;
	color: black;
	width: 100%;
	font-size: 20px;
	margin-top: 2px;
	font-weight: bold;
	margin-bottom: 0;
}
.p_profile1{
	display: inline-block;
	width: 100%;
	color: rgb(172, 165, 165);
	font-size: 15px;
	margin-top: 0;
}
.hr_profile {
	width: auto;
	box-shadow: 0px 0px 15px 6px #9a9b9c;
	margin-top: 5px;
	margin-bottom: 5px ;
}
.addCV{
	display: none;
}
.button_CV{
	background-color: rgb(68, 68, 219);
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	font-size: 15px;
	margin-top: 20px;
	width: 150px;
		align-items: center;
}
.input_language{
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 15px;
	background-color: #dae8f5;
	color: black;
	font-weight: bold;
	margin-top: 5px;
	width: 300px;
}

.table_app{
	border: 2px solid whitesmoke;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0px 0px 10px 10px rgba(15, 56, 203, 0.9);
	width: 800px;
	color: rgb(96, 202, 221);
}
.table_app tr, .table_app td{
	font-size: 15px;
	border: 3px solid black;
  }
  .table_filter{
	border: 3px solid whitesmoke;
	width: 400px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 15px 15px rgba(13, 15, 20, 0.9);
	margin: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.button_filter{
	background-color: rgb(22, 22, 30);
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	font-size: 15px;
	margin-top: 20px;
	width: 150px;
	align-items: center;
}
.table_language{
	border: 2px solid whitesmoke;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0px 0px 10px 10px rgba(15, 56, 203, 0.9);
	width: 100px;
}
.table_languagetr, .table_language td{
	font-size: 15px;
	border: 3px solid black;
  }

  .main-contentJobs {
	width: 100%;
	margin: 0;
	height: 100vh;
	background-color: whitesmoke;
	overflow-y: auto;
	padding-left: 50px;
}
.button_avJob{
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	margin-left: 30px;
	display: flex;
	border: 2px solid rgb(4, 33, 179);
	border-radius: 5px;
}
.td_button{
	display: flex;
	justify-content: center;
}

.input_testJob{
	border: none;
	border-radius: 5px;
	font-size: 25px;
	background-color: #dae8f5;
	color: black;
	outline: none;
	text-align: center;
}
.p_timer{
	font-size: 25px;
	border: 2px solid rgb(0, 27, 164);
	border-radius: 5px;
	width: fit-content;
}
.test_div{
	border: 3px solid whitesmoke;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.table_avbJobs{
	border: 3px solid whitesmoke;
	width: 1300px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin: 50px;
}

.td_buttonAvbJob{
text-align: left;
}

.accinfopage_div{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
	background-image: url('images/background_mainpage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	padding-bottom: 50px;
	align-items: flex-start;
}
.sidebar_accInfo {
	width: 400px;
	background-color: rgb(66, 89, 239);
	position: sticky;
	top: 0;
	box-shadow: 10px -1px 1px -2px rgb(3, 9, 34);
	align-items: center;
    display: flex;
    flex-direction: column;
	padding: 5px;
}

.container_tableApp{
	width: 100%;
	margin: 0;
	height: 100vh;
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
}
.mail_div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	border: 3px solid whitesmoke;
	width: 500px;
	border-radius: 10px;
	flex-direction: column;	
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	background-color: white;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 20px;
}

.mail_div1{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	border: 3px solid whitesmoke;
	width: 500px;
	border-radius: 10px;
	flex-direction: column;	
	box-shadow: 9px 0px 5px 0px rgba(15, 56, 203, 0.7);
	background-color: white;
	margin-top: 20px;
	margin-bottom: 80px;
	padding-right: 20px;
	padding-left: 20px;
}

.table_divSendMail{
	border: 3px solid whitesmoke;
	width: 1200px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin-top: 50px;
}

.divSendMail{
	border: 3px solid whitesmoke;
	width: 1050px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0px 0px 15px 15px rgba(15, 56, 203, 0.9);
	margin: 50px;
}